[submodule "tf-backend"]
	path = tf-backend
	url = https://github.com/KeenGWatanabe/tf-backend
[submodule "vpc"]
	path = vpc
	url = https://github.com/KeenGWatanabe/tf-vpc-nat-eip-ec2
[submodule "route53"]
	path = route53
	url = https://github.com/agusjuli/ce-grp4-route53-dns-https
