[submodule "route53"]
	path = route53
	url = https://github.com/agusjuli/ce-grp4-route53-dns-https
[submodule "secrets"]
	path = secrets
	url = https://github.com/hinotosho/tf-secrets-capstone
[submodule "backend"]
	path = backend
	url = https://github.com/rlwp/tf-backend
[submodule "app"]
	path = app
	url = https://github.com/KeenGWatanabe/g4app
[submodule "vpc2"]
	path = vpc2
	url = https://github.com/SJArpita/arp-tf-vpc-nat-eip-ec2
